<div class="loginWrapper">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 logincontent">
        <div class="row whitebg">
          <div class="col-md-5 loginBg">
            <a [routerLink]="['/login']">
              <h3 class="loginLogo"><img src="/assets/images/logo_hubackup.png"></h3><!-- Login Form Logo-->
              <h2 class="title">{{'app_info.title' | translate}}</h2>
            </a>
            <ul>
              <li>{{'common.auth_list.list1' | translate}}</li>
              <li>{{'common.auth_list.list2' | translate}}</li>
              <li>{{'common.auth_list.list3' | translate}}</li>
              <li>{{'common.auth_list.list4' | translate}}</li>
            </ul>
          </div>
          <div class="col-md-7 formFields">
            <h3>{{'common.login' | translate}}</h3>

            <!-- Login Form start -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
              <div class="username">
                <mat-form-field class="example-full-width">
                  <!-- Email Field -->
                  <input matInput placeholder="{{'common.emailaddress' | translate}}" value="" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="password">
                <mat-form-field class="example-full-width">
                  <!-- Password Field -->
                  <input formControlName="password" matInput placeholder="{{'common.password' | translate}}" value="" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button mat-button [disabled]="!loginForm.valid" type="submit">{{'common.login' | translate}}</button><!-- Submit button-->
                </div>
                <div class="col-md-6 socialGroup">
                </div>
                <div class="col-md-12 footerTxt">
                  <p>{{'common.dont_have' | translate }} an {{'common.account' | translate }}? <a [routerLink]="['/signup']" [queryParams]="{ price: 250 }">Sign Up Here</a><span>/</span> {{'common.forgot' | translate }} <a [routerLink]="['/forget-password']">{{'common.password' | translate }}?</a></p>
                </div>
              </div>
            </form>
            <!-- Login Form End -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Login Wrapper End -->