@import "../../../style/variable";


// Login box css
.loginWrapper{
    height: 100vh;
    background-color: $graybg;
    .logincontent{
        .whitebg{
            background-color: $white ;
        }
        .loginBg{
            background-image: url('/assets/images/login_bg.png');

        }
    }
}

// left block css
.loginBg{
    color:$white;
    a:hover{
        color: $white;
        text-decoration: none; 
    }
    h3{
        text-align:center;
        padding-top: 30px;
        margin-bottom: 5px;
    }
    h2{
        text-align:center;
        font-family: $fontbold;
        font-size: $font-18;
        color: $white;
    }
    ul{
        padding-left: 15px;
        padding-top: 30px;
        li{
            list-style-type: circle;
            font-family: $fontregular;
            font-size: $font-16;
            line-height: 45px;


        }
    }
}

//Right block css
.formFields{
    h3{
        font-family: $fontbold;
        font-size: $font-18;
        padding: 30px 0 0px 30px;
    }
    // Login Form Css
    form{
        font-family: $fontregular;
        .mat-button{
            background-color: $linkcolor;
            color: $white;
            border-radius: 0;
            padding: 0px 30px;
            font-size: $font-16;
            font-family: $fontregular;
        }
        padding-right: 20px;
        padding-left:30px;
        .mat-form-field{
            width:100%;
            .material-icons{
                font-size: 100%;
                color:$iconcolor;
            }
        }
        .footerTxt{
            p{
                text-align: center;
                font-size: $font-14;
                span{
                    padding: 0 10px;
                }
            }
            padding-top: 50px;
        }
        // Social icon css
        .socialGroup{
            p{
                color: $lightgray;
                font-size: $font-15;
                margin-bottom: 0;
                padding-top: 15px;
                a{
                    color: $iconcolor;
                    margin: 0 5px 0 15px;
                    font-size: $font-18;
                }
                a:hover{
                    color: $linkcolor;
                }
            }
        }
    }
    // Login button css
    .loginbtn{
        padding: 30px 5px;
    }
}

//Responsive
@media only screen and (max-width: 767px) {
    .loginWrapper{
        height: auto;
        padding: 40px 0;
    }
}