<!-- Find component -->
<div class="container">
  <div class="row">
    <div class="ring" *ngIf="loading">
      Loading
      <span></span>
    </div>
    <div class="wizard col-md-12" *ngIf="indexvalue < 4">
      <h4>{{'find_component.find' | translate}}</h4>
      <div class="wizard-inner">

        <!-- Steps -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" *ngFor="let index of stepsname; let i= index">
            <a class="nav-link" (click)="indexvalue = i" [ngClass]="{'active': indexvalue === i}">
              <span class="round-tab">{{index.value}}</span>
              <span class="title">{{index.name}}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Find form -->
      <form [formGroup]="findForm" (ngSubmit)="onSubmit(findForm)">
        <div class="tab-content" style="border:none !important;">
          <div class="tab-pane active" [ngClass]="{'active': indexvalue === 0}" role="tabpanel" id="step1">
            <div class="row">
              <div class="col-md-6 content">
                <h3>{{'find_component.selectbackup' | translate}}</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <h4>{{'find_component.SelectValue' | translate}}</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <select class="form-control" formControlName="search_table">
                        <!-- <option></option> -->
                        <option *ngFor="let data of backups" [value]="data.object">{{data.object}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" (click)="indexvalue = indexvalue + 1" class="btn btn-primary next-step">{{'find_component.NextStep'
                        | translate}}</button>
                    <button type="button" class="btn btn-default prev-step"><i class="fa fa-angle-left"></i>{{'find_component.previous'
                        | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" [ngClass]="{'active': indexvalue === 1}">
            <div class="row">
              <div class="col-md-6 content">
                <h3>{{'find_component.step2_TimeFrame' | translate}}</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <h4>{{'find_component.step2_DateRange' | translate}}</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <input placeholder="Daterangepicker" formControlName="date" type="text" class="form-control"
                        bsDaterangepicker #dpr="bsDaterangepicker"
                        [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY/MM/DD', showWeekNumbers: false }">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" (click)="indexvalue = indexvalue + 1" class="btn btn-primary next-step">{{'find_component.NextStep'
                        | translate}}</button>
                    <button type="button" (click)="indexvalue = indexvalue - 1" class="btn btn-default prev-step"><i
                        class="fa fa-angle-left"></i> {{'find_component.previous' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" [ngClass]="{'active': indexvalue === 2}" id="step3">
            <div class="row">
              <div class="col-md-6 content">
                <h3>{{'find_component.step3_title' | translate}}</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <h4>{{'find_component.step3_SearchTerm' | translate}}</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <!-- <select class="form-control" formControlName="searchterm">
                          <option>Nov 2, 2018 - Nov 20, 2018 </option>
                        </select> -->
                      <input type="text" Placeholder="Search Term" class="form-control" formControlName="search_term">
                      <h5>Lorem Ipsum is simply dummy</h5>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" (click)="indexvalue = indexvalue + 1"
                      class="btn btn-primary next-step">{{'find_component.NextStep' | translate}}</button>
                    <button type="button" (click)="indexvalue = indexvalue - 1" class="btn btn-default prev-step"><i
                        class="fa fa-angle-left"></i>{{'find_component.previous' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" [ngClass]="{'active': indexvalue === 3}" id="complete">
            <div class="row">
              <div class="col-md-6 content">
                <h3>{{'find_component.step4_title' | translate}}</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" [disabled]="!findForm.valid"
                      class="btn btn-primary last-step">{{'find_component.step4_goto' | translate}}</button>
                    <button type="button" (click)="indexvalue = indexvalue - 1" class="btn btn-default prev-step"><i
                        class="fa fa-angle-left"></i>{{'find_component.previous' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>

  <!-- Side bar list menus-->
  <div class="row findRecords" *ngIf="indexvalue > 3">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <h6>{{startDate}}</h6>
          <p>Started</p>
        </div>
        <div class="col-md-3">
          <h6>{{endDate}}</h6>
          <p>Ended</p>
        </div>
        <div class="col-md-3">
          <h6>{{findForm.value.search_table}}</h6>
          <p>Backup Service</p>
        </div>
        <div class="col-md-3">
          <h6>{{totalRecords}}</h6>
          <p>Search Records</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
          <input [(ngModel)]="searchText" (onChange)="filterData(searchText)" placeholder="Search.." class="advancedSearchTextbox">
      </div> -->
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr *ngIf="displayedColumns">
            <th>Record Details</th>
            <th *ngFor="let column of displayedColumns">{{column}}</th>
          </tr>
        </thead>
        <h2 *ngIf="!searchData || searchData.length == 0" style="width: 100%;
          display: table-caption;
          text-align: left;">No Records Found</h2>
        <tbody *ngIf="searchData">
          <tr *ngFor="let data of searchData">
            <td><a href="javascript:void(0)" (click)="recordDetail(data)">Detail</a></td>
            <td *ngFor="let item of data">{{item}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>


<button id="viewBtn" style="visibility: hidden; opacity: 0;" mat-button data-toggle="modal" data-target="#myModal1">
  <mat-icon>visibility</mat-icon>
</button>
<div id="myModal1" class="modal fade AuthModel" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" *ngIf="recordDetails">
        <h5 class="modal-title pb-4 text-center">Record Detail</h5>
        <div class="row">
          <div class="col-md-12">
            <ul class="detailList">
              <li *ngFor="let item of recordDetails; let i = index">
                <div class="leftSection">{{displayedColumns[i]}}</div>
                <div class="rightSection">{{item}}</div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </div>
        <!-- {{recordDetails | json}} -->
      </div>
    </div>

  </div>
</div>