@import "../../../../style/variable"; //Import variables scss

// Find component scss
.wizard {
  margin: 50px auto 0;
  background: $white;
  width: 100%;
}
.wizard .nav-tabs {
  border: none;
  position: relative;
  margin: 0px auto;
  margin-bottom: 0;
}

// Steps
.wizard .nav-tabs > li {
  width: 25%;
  position: relative;
  cursor: pointer;
}
.clear {
  clear: both;
}
.wizard .nav-tabs > li a.active {
  border-top: 1px solid $linkcolor;
  border-bottom: 1px solid $linkcolor;
  color: $linkcolor;
  background-color: $tableTr;
}
.wizard .nav-tabs > li a:hover {
  border-top: 1px solid $linkcolor;
  border-bottom: 1px solid $linkcolor;
  color: $linkcolor;
  background-color: $tableTr;
}
.wizard .nav-tabs > li a {
  width: 100%;
  padding: 20px 25px 0;
  border: none;
  color: $fontcolor;
  min-height: 100px;
  border-top: 1px solid $fontcolor;
  border-bottom: 1px solid $fontcolor;
  line-height: 1;
  border-radius: 0;
  span.round-tab {
    float: left;
    font-size: $font-60;
    font-family: $fontregular;
    line-height: 1;
    padding-right: 5px;
  }
  span.title {
    font-family: $fontregular;
    position: relative;
    top: 7px;
  }
}

.wizard > div.wizard-inner {
  position: relative;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 120px;
  margin-bottom: 90px;
  .content {
    h3 {
      color: $fontcolor;
      font-size: $font-24;
      margin-bottom: 20px;
    }
  }
  .selection {
    h4 {
      font-family: $fontregular;
      font-size: $font-18;
    }
    select {
      border-radius: 0;
      font-family: $fontregular;
      font-size: $font-16;
    }
    h5 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: $font-16;
    }
    p {
      font-size: $font-15;
    }
  }
  .next-step {
    width: 100%;
    border-radius: 0;
    font-family: $fontregular;
  }
  .prev-step {
    font-family: $fontregular;
    background-color: transparent !important;
    padding: 0;
    margin-top: 10px;
    font-size: $font-14;
    color: $linkcolor !important;
    i {
      margin-right: 3px;
      font-size: $font-12;
    }
  }
  .last-step {
    border-radius: 0;
    display: block;
    padding: 5px 30px;
    font-family: $fontregular;
  }
}

.findRecords {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;

  table.table tr td {
    white-space: nowrap;
    font-size: 12px;
  }
  table.table tr th {
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
  }
  h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.detailList {
  li {
    list-style-type: none;
    .leftSection {
      width: 50%;
      float: left;
      padding: 0 20px;
      text-align: right;
    }
    .rightSection {
      width: 50%;
      float: left;
      padding: 0 20px;
      text-align: left;
      word-break: break-all;
    }
    .clear {
      clear: both;
    }
  }
}

@media only screen and (max-width: 992px) {
  .findRecords .recordsContent .contentTables .searchtables .tableContainer {
    overflow: scroll;
    table {
      width: 800px;
    }
  }
}
@media only screen and (max-width: 860px) {
  .wizard .nav-tabs > li {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .findRecords .recordsContent .contentTables {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .wizard .nav-tabs > li a {
    padding: 15px 5px 0;
  }
  .wizard .tab-pane {
    padding-top: 50px;
  }
}
