<div class="frgtPwdWrapper">
  <!-- Forget Password Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 formcontent">
        <a  [routerLink]="['/login']"><h3 class="loginLogo"><img src="/assets/images/logo_hubackup.png"></h3><!-- forget Password Form Logo-->
        <h2 class="title">{{'app_info.title' | translate}}</h2></a>
        <!-- forget Password Form start -->
        <form [formGroup]="forgetPassword" (ngSubmit)="onSubmit(forgetPassword)">
          <h3>{{'common.forgot' | translate}} {{'common.password' | translate}}</h3>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="username">
                <mat-form-field class="example-full-width">
                  <!-- Email Field -->
                  <input matInput placeholder="Email" value="" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-hint>{{'common.resetPwdIns' | translate}}</mat-hint>
                </mat-form-field>
              </div>
              <div class="row pwdButton">
                <div class="col-md-12">
                  <button mat-button [disabled]="!forgetPassword.valid">{{'common.resetPwd' | translate}}</button><!-- Submit button-->
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </form>
        <!-- forget Password Form start -->
      </div>
    </div>
  </div>
  <!-- Forget Password Wrapper Start -->
</div>