@import "../../../style/variable"; // Import variable scss

// Forget password scss
.frgtPwdWrapper{
    height:100vh;
    background-color: $linkcolor;
    .formcontent{
        a:hover{
            text-decoration: none;
        }
        h3{
            text-align: center;
            img{
                width:auto;
            }
        }
        h2{
            text-align: center;
            font-family: $fontbold;
            font-size: $font-18;
            color: $white;
            margin-bottom: 15px;
        }

        // Form scss
        form{
            font-family: $fontregular;
            padding: 50px 0 70px;
            background-color: $white;
            h3{
                font-family: $fontbold;
                text-align: center;
                font-size: $font-18;
                margin-bottom: 35px;
            }
            .mat-form-field{
                width:100%;
                .material-icons{
                    font-size: 100%;
                    color: #ccc;
                }
            }
            .pwdButton{
                text-align: center;
                padding-top: 80px;
                button{
                    background-color: $linkcolor;
                    color: $white;
                    border-radius: 0;
                    padding: 0 30px;
                    font-size: $font-16;
                    font-family: $fontregular;
                }
            }
        }
    }
}



//Responsive
@media only screen and (max-width: 767px) {
    .frgtPwdWrapper .formcontent form{
        padding: 50px 20px 70px;
    }
}