@import "../../../style/variable"; // Import variable scss


// Change Password scss
.changepassword{
    height:80vh;
    form{
        h3{
            text-align: center;
            font-size: $font-18;
            margin-bottom: 10px;
        }
        p{
            color: $lightgray;
            font-size: $font-14;
        }
        .mat-form-field{
            width:100%;
            .mat-icon{
                font-size: 100%;
                color: $iconcolor;
            }
        }
        .pwdButton{
            text-align: center;
            padding-top: 50px;
            button{
                color: $white;
                border-radius: 0;
                padding: 0 30px;
                font-size: 16px;
            }
        }
    }

    // Validators scss
    .validators{
        padding: 15px 0 5px 25px;
        background-color: $bgvalidator;
        border: 1px solid $bodybg;
        position: relative;
        top: 40px;
        li{
            list-style-type: none;
            color: $lightgray;
            font-size: $font-14;
            margin-bottom: 10px;
            padding-left: 10px;
        }
        li:before{
            font-family: FontAwesome;
            content: "\f00d";
            position: absolute;
            left: 15px;
            font-weight: 100;
            text-align: center;
            font-size: $font-14;
            color: $red;
        }
        li.validate:before{
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            left: 15px;
            font-weight: 100;
            text-align: center;
            font-size: $font-14;
            color: $green;
        }
    }
    .validators:before{
        content: "";
        border-style: solid;
        border-width: 25px 25px 25px 0;
        border-color: transparent #f6f6f6 transparent transparent;
        position: absolute;
        left: -25px;
        top: 33%;
        bottom: 0;
        height: 50px;
        vertical-align: middle;
    }

}


//Responsive
@media only screen and (max-width: 767px) {
    .changepassword{
        height:auto;
        padding:40px 0 50px;
    }
}
@media only screen and (max-width: 640px) {
    .changepassword form .pwdButton{
        text-align: center;
        padding-top: 20px;
    }
}