<!-- Change password component -->
<div class="changepassword">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <!-- Change Password Form start -->
        <form [formGroup]="passwordChange" (ngSubmit)="onSubmit(passwordChange)">
          <h3>Change Password</h3>
          <p>Please enter a new password in the fileds below</p>
          <div class="row">
            <div class="col-md-12">
              <div class="password">
                <mat-form-field class="example-full-width">
                  <!-- Password Field -->
                  <input matInput placeholder="password"  formControlName="password" type="password">
                </mat-form-field>
              </div>
              <div class="password">
                <mat-form-field class="example-full-width">
                  <!-- Password Field -->
                  <!-- <input matInput placeholder="password" value="" formControlName="password_confirmation" type="password"> -->
                  <input formControlName="password_confirmation" compare="Password" matInput placeholder="Confirm Password"
                    value="" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row pwdButton">
            <div class="col-md-12">
              <!-- <button mat-button [disabled]="!passwordChange.valid" type="submit">Reset my password</button> -->
              <button mat-button [disabled]="!passwordChange.valid || passwordChange.value.password !== passwordChange.value.password_confirmation || !(passwordChange.value.password.length > 0) || !(checkCapitalletter(passwordChange.value.password) >= 1) || !(checkNumbers(passwordChange.value.password) >= 1) || !(passwordChange.value.password.length >= 8)" type="submit">Reset my password</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Verify Password -->
      <div class="col-md-4">
        <ul class="validators">
          <li [ngClass]="{'validate': passwordChange.value.password == passwordChange.value.password_confirmation}">Confirmation matches password</li>
          <li [ngClass]="{'validate': passwordChange.value.password.length > 0}">Cannot be
            blank</li>
          <li [ngClass]="{'validate': checkCapitalletter(passwordChange.value.password) >= 1}">At list 1 capital letters</li>
          <li [ngClass]="{'validate': checkNumbers(passwordChange.value.password) >= 1}">At list 1 number</li>
          <li [ngClass]="{'validate': passwordChange.value.password.length >= 8}">At list 8 characters</li>
        </ul>
      </div>
    </div>
  </div>
</div>