<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>User List</strong>
          <div class="card-header-actions" style="display: none;">
            <button type="button" class="btn btn-blue mr-1" data-toggle="modal" (click)="addUserModal.show()">
              Add User
            </button>
          </div>
        </div>
        <div class="card-body block_table" style="min-height: 350px;">
          <div class="row">
            <div class="col-sm-12">
              <div class="ring" *ngIf="loading">
                Loading
                <span></span>
              </div>

              <!-- <h4 class="text-center py-4" *ngIf="this.nodata">{{nodata}}</h4> -->
              <table style="width:100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8 px-2">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="region">
                  <th mat-header-cell *matHeaderCellDef> Region </th>
                  <td mat-cell *matCellDef="let element"> {{element.region}} </td>
                </ng-container>

                <ng-container matColumnDef="payment">
                  <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                  <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.payment == null">Not actively subscribed</p>
                    <p *ngIf="element.payment == 1">Actively subscribed</p>
                  </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                  <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Action </th>
                  <td style="text-align: right;" mat-cell *matCellDef="let element">
                    <button mat-button data-toggle="modal" (click)="addUserModal.show(); getUserById(element.id)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button class="ml-3" data-toggle="modal" (click)="smallModal.show(); getUserId(element.id);"
                      mat-button>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="userPagi">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>




<!-- Add Lab Model-->
<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modeltitle}}</h4>
        <button type="button" class="close" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card" style="width: 100%;" *ngIf="userDetails">
        <div class="card-header">
          <b>Name : </b>{{userDetails.firstName}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Email</b>: {{userDetails.email}}</li>
          <li class="list-group-item"><b>Region</b>: {{userDetails.region}}</li>
          <li class="list-group-item"><b>Company Name</b>: {{userDetails.companyName}}</li>
          <li class="list-group-item"><b>Phone Number</b>: {{userDetails.phoneNumber}}</li>
          <li class="list-group-item"><b>Payment Status</b>:
            <span *ngIf="userDetails.payment == null">Not actively subscribed</span>
            <span *ngIf="userDetails.payment == 1">Actively subscribed</span>
          </li>
        </ul>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div bsModal #smallModal="bs-modal" class="modal deleteModel fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you want to delete this category</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)=deleteUser(user_id)>Delete</button>
      </div>
    </div>
  </div>
</div>