.modal {
  button.close {
    background-color: transparent !important;
    color: #000 !important;
  }
}

.deleteModel{
    h4.modal-title{
        color:#fff;
    }
    button{
        border:none !important;
    }
}