<!-- Restore component -->
<div class="container">
  <div class="row">
    <div class="wizard col-md-12" *ngIf="indexvalue < 2">
      <h4>Restore Data</h4>
      <div class="wizard-inner">

        <!-- Steps name -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" *ngFor="let steps of stepsname; let i = index">
            <a (click)="indexvalue = i" class="nav-link" [ngClass]="{'active': i === indexvalue }">
              <span class="round-tab">{{steps.value}}</span>
              <span class="title">{{steps.name}}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Steps Form -->
      <form role="form">
        <div class="tab-content" style="border:none !important;">
          <div class="tab-pane active" [ngClass]="{'active': indexvalue === 0}">
            <div class="row">
              <div class="col-md-6 content">
                <h3>Select Your Backup</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <div class="row">
                  <div class="col-md-8">
                    <mat-radio-group>
                      <mat-radio-button value="1">Repair data loss<sup>*</sup></mat-radio-button>
                    </mat-radio-group>
                    <h4>Select service</h4>
                    <div class="form-group">
                      <select class="form-control" name="buynow">
                        <option>Nov 2, 2018 - Nov 20, 2018</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" (click)="indexvalue = indexvalue + 1" class="btn btn-primary next-step">Next
                      Step</button>
                    <button type="button" class="btn btn-default prev-step"><i class="fa fa-angle-left"></i> Previous
                      Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" [ngClass]="{'active': indexvalue === 1}">
            <div class="row">
              <div class="col-md-6 content">
                <h3>What would you like to Find?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever</p>
              </div>
              <div class="col-md-6 selection">
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary last-step" (click)="indexvalue = indexvalue + 1">Go TO</button>
                    <button type="button" (click)="indexvalue = indexvalue - 1" class="btn btn-default prev-step"><i
                        class="fa fa-angle-left"></i> Previous
                      Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>

  <!-- Side bar list menus-->
  <div class="row findRecords" *ngIf="indexvalue > 1">
    <div class="col-md-4 recordsList">
      <div class="list-group">
        <p class="title">Jobs older then 30 days are autometically deleted<span><b>Note: </b>Job may contain personal
            data for this duration</span></p>
        <a href="" class="list-group-item" *ngFor="let list of listMenus">
          <div class="searchAlert">
            <div class="d-flex">
              <div>
                <h3><i class="fa fa-check"></i>Find in Records </h3>
              </div>
              <div class="ml-auto">
                <span>Jobid: #453021</span>
              </div>
            </div>
            <p>Completed less then a minute ago by test@gmail.com</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Content -->
    <div class="col-md-8 recordsContent">
      <div class="contentTables">
        <div class="searchAlert">
          <div class="d-flex">
            <div>
              <h3><i class="fa fa-check"></i>Find in Records <span>Completed </span></h3>
            </div>
            <div class="ml-auto">
              <span>Jobid: #453021</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" [style.width]="'50%'">50%</div>
          </div>
          <p>Search in records for Smith across backup from<span>Oct 26 2018 3:34 AM</span> of <span>[Hubackup data]
              Production data</span></p>
        </div>
        <div class="searchReports">
          <div>
            <h4 class="latestBclup">Hubackup - Smart sObject compare result</h4>
            <input type="search" placeholder="Searched sObject.." />
          </div>
        </div>
        <div class="searchtables">
          <mat-accordion>
            <mat-expansion-panel (click)="click()" *ngFor="let acc of accordian">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>{{icon ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                  <div class="d-flex">
                    <div>
                      <p><input type="checkbox" /><label>10 Record(s) will be restored</label></p>
                    </div>
                    <div class="ml-auto">
                      <i class="fa fa-meh-o" aria-hidden="true"></i>
                      <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
              <p><input type="checkbox" /><label>10 Record(s) will be restored</label><i class="fa fa-meh-o"
                  aria-hidden="true"></i></p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="buttonGrp">
            <button mat-button class="restorebtn">Restore</button>
            <button mat-button class="canceljob">Cancel Job</button>
        </div>
      </div>
    </div>
  </div>
</div>