@import "../../../../style/variable"; // Import variable scss

.wizard {
  margin: 50px auto 0;
  background: $white;
  width: 100%;
}

// Wizard steps tab scss
.wizard .nav-tabs {
  border: none;
  border-bottom: 1px solid #495057;
  border-top: 1px solid #495057;
  position: relative;
  margin: 0px auto;
  margin-bottom: 0;
}

.wizard .nav-tabs > li {
  width: 20%;
  position: relative;
  cursor: pointer;
  margin-bottom: -1px;
  margin-top: -1px;
}
.clear {
  clear: both;
}
.wizard .nav-tabs > li a.active {
  border-top: 1px solid $linkcolor;
  border-bottom: 1px solid $linkcolor;
  color: $linkcolor;
  background-color: $tableTr;
}
.wizard .nav-tabs > li a:hover {
  border-top: 1px solid $linkcolor;
  border-bottom: 1px solid $linkcolor;
  color: $linkcolor;
  background-color: $tableTr;
}
.wizard .nav-tabs > li a {
  width: 100%;
  padding: 20px 25px 0;
  border: none;
  color: $fontcolor;
  min-height: 100px;
  line-height: 1;
  border-radius: 0;
  span.round-tab {
    float: left;
    font-size: $font-60;
    font-family: $fontregular;
    line-height: 1;
    padding-right: 5px;
  }
  span.title {
    font-family: $fontregular;
    position: relative;
    top: 7px;
  }
}

.wizard > div.wizard-inner {
  position: relative;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 120px;
  margin-bottom: 90px;
  .content {
    h3 {
      color: $fontcolor;
      font-size: $font-24;
      margin-bottom: 20px;
    }
  }
  .selection {
    h4 {
      font-family: $fontregular;
      font-size: $font-18;
      margin-top: 20px;
    }
    select {
      border-radius: 0;
      font-family: $fontregular;
      font-size: $font-16;
      margin-top: 10px;
    }
    .mat-radio-group {
      font-size: $font-15;
      .mat-radio-button {
        width: 100%;
      }
    }
  }
  .next-step {
    width: 100%;
    border-radius: 0;
    font-family: $fontregular;
  }
  .prev-step {
    font-family: $fontregular;
    background-color: transparent !important;
    padding: 0;
    margin-top: 10px;
    font-size: $font-14;
    color: $linkcolor !important;
    display: block;
    i {
      margin-right: 3px;
      font-size: $font-12;
    }
  }
  .last-step {
    border-radius: 0;
    font-family: $fontregular;
    padding: 5px 30px;
  }
}

.findRecords {
  margin-top: 40px;
  margin-bottom: 40px;
  //Menus list scss
  .recordsList {
    .title {
      font-family: MyriadPro-Bold;
      color: $black;
      padding: 8px 10px 5px;
      box-shadow: 0 0 6px -1px #ccc;
      text-align: center;
      font-size: 14px;
      margin-bottom: 0;
      span {
        font-family: $fontregular;
        display: block;
        font-size: 14px;
      }
    }
    a {
      padding: 8px 10px 5px;
      box-shadow: 0px 0px 6px -1px #ccc;
      border: none;
      border-radius: 0;
      position: relative;
      .searchAlert {
        h3 {
          font-size: $font-14;
          color: $fontcolor;
          i {
            font-weight: 100;
            background-color: $linkcolor;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            text-align: center;
            font-size: $font-12;
            margin-right: 10px;
            color: $white;
            line-height: 16px;
          }
        }
        .ml-auto {
          span {
            font-family: $fontregular;
            color: rgba(0, 0, 0, 0.54);
            font-size: $font-12;
            position: relative;
            top: -5px;
          }
        }
        p {
          color: rgba(0, 0, 0, 0.54);
          font-size: $font-14;
          margin-bottom: 0;
          span {
            color: $linkcolor;
          }
        }
      }
    }
    a:hover:after {
      position: absolute;
      content: "";
      border-left: 2px solid $linkcolor;
      width: 1px;
      left: 0;
      height: 100%;
      top: 0px;
      bottom: 0;
    }
    a:hover {
      background-color: #e7f1fd;
    }
  }
  .recordsContent {
    .contentTables {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      .searchAlert {
        .progress {
          height: 10px;
          margin-bottom: 10px;
          .progress-bar {
            font-size: 10px;
          }
        }
        background-color: #e7f1fd;
        padding: 15px;
        margin-bottom: 20px;
        h3 {
          font-size: $font-16;
          color: $fontcolor;
          i {
            font-weight: 100;
            background-color: $linkcolor;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            text-align: center;
            font-size: $font-14;
            margin-right: 10px;
            color: $white;
            line-height: 16px;
          }
          span {
            margin-left: 25px;
            font-family: $fontregular;
            color: rgba(0, 0, 0, 0.54);
            font-size: $font-14;
          }
        }
        .ml-auto {
          span {
            font-family: $fontregular;
            color: rgba(0, 0, 0, 0.54);
            font-size: $font-14;
          }
        }
        p {
          color: rgba(0, 0, 0, 0.54);
          font-size: $font-14;
          margin-bottom: 0;
          span {
            color: $linkcolor;
          }
        }
      }

      .searchReports {
        padding: 15px;
        margin-bottom: 10px;
        h4 {
          font-size: $font-16;
          color: $linkcolor;
        }
        input {
          width: 100%;
          border-radius: 0;
          border: 1px solid rgba(0, 0, 0, 0.54);
          margin: 20px 0 5px;
          padding: 5px 10px;
          font-family: $fontregular;
        }
      }

      .searchtables {
        padding: 15px;
        .mat-expansion-panel-header {
          height: auto !important;
          padding: 10px 5px 0px;
        }
      }
      .buttonGrp {
        margin-top: 15px;
        padding: 15px 15px 40px;
        .restorebtn {
          border: 1px solid $linkcolor;
          color: $linkcolor !important;
          background-color: transparent !important;
          border-radius: 0;
        }
        .canceljob {
          color: $red !important;
          background-color: transparent !important;
        }
      }
    }
  }
}

@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
