@import '../../../../style/variable'; // Import variable scss

.settingPages{
    margin-top:20px;
    margin-bottom: 60px;
    h4{
        color:$fontcolor;
        margin-bottom: 15px;
    }
    form{
        p{
            margin-bottom: 35px;
            label{
                display:block;
                margin-bottom: 0;
            }
            input{
                width:100%;
                border-radius: 0;
                border: 1px solid #ced4da;
                padding: 7px 10px;
            }
            button{
                float: right;
                border-radius: 0;
                margin-left: 10px;
            }
            .editbtn{
                color:$linkcolor !important;
                border:1px solid $linkcolor;
                background-color: transparent !important;
            }
        }
        .form-bx{
            margin-bottom: 35px;
            color: #495057;
            font-family: MyriadPro-Regular;
            label{
                display:block;
                margin-bottom: 0;
            }
            input{
                width:100%;
                border-radius: 0;
                border: 1px solid #ced4da;
                padding: 7px 10px;
            }
            select{
                border-radius: 0;
                border: 1px solid #ced4da;
                padding: 7px 10px;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .settingPages{
        .col-md-3{
            margin-bottom: 10px;
        }
    }
}