<div class="row settingPages">
  <div class="col-md-12">
    <h4>Overview</h4>
  </div>

  <form [formGroup]="overviewForm" (ngSubmit)="onSubmit(overviewForm)" class="row" style="width:100%;">
    <div class="col-md-4">
      <p>
        <label>Company Name</label>
        <input type="text" placeholder="Company Name" value="" formControlName="companyName" />
      </p>
    </div>
    <div class="col-md-4">
      <div class="form-bx">
        <label>Phone Number<span>(Type country code)</span></label>
        <div class="row">
          <div class="col-md-3">
            <input type="text" placeholder="Code" value="" formControlName="code" />
          </div>
          <div class="col-md-9">
            <input type="text" placeholder="Phone Number" value="" formControlName="phoneNumber" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p>
        <label>Email Address</label>
        <input type="text" placeholder="Email Address" value="" [(ngModel)]="emailid" [ngModelOptions]="{standalone: true}" readonly/>
      </p>
    </div>
    <div class="col-md-4">
      <div class="form-bx">
        <label>Time Zone</label>
        <div class="form-group">
          <select class="form-control" formControlName="timeZone">
            <option>PST (UTC- 08:00)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-bx">
        <label>Country</label>
        <input type="text" placeholder="Country" value="" formControlName="country" />
        <!-- <div class="form-group">
          <select class="form-control" formControlName="country">
            <option>United State</option>
          </select>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-bx">
        <label>State</label>
        <input type="text" placeholder="state" value="" formControlName="state" />
        <!-- <div class="form-group">
          <select class="form-control" formControlName="state">
            <option>United State</option>
          </select>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <p>
        <label>Address</label>
        <input type="text" placeholder="Address" value="" formControlName="address" />
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label>Address 1</label>
        <input type="text" placeholder="Address 1" value="" formControlName="address1" />
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label>Address 2</label>
        <input type="text" placeholder="Address 2" value="" formControlName="address2" />
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label>Billing Address</label>
        <input type="text" placeholder="Billing Address 1" value="" formControlName="billingAddress" />
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label>Billing Address 1</label>
        <input type="text" placeholder="Billing Address 1" value="" formControlName="billingAddress1" />
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label>Billing Address 2</label>
        <input type="text" placeholder="Billing Address 2" value="" formControlName="billingAddress2" />
      </p>
    </div>
    <div class="col-md-12 button">
      <p>
        <button mat-button type="submit" [disabled]="!overviewForm.valid">Update</button>
        <button mat-button class="editbtn">Edit</button>
      </p>
    </div>
  </form>
</div>
