<!-- Backup titles slider -->
<ngx-carousel [inputs]="carouselTile" id="tilesSlider">
  <ngx-tile NgxCarouselItem *ngFor="let items of itemsList">
    <div class="buckupTile" *ngIf="items[0]">
      <span>{{items[0].day}}</span>
    </div>
    <div class="buckupTile buckupTile2" *ngIf="items[1]">
      <span>{{items[1].day}}</span>
    </div>
  </ngx-tile>
  <!-- Left Right navigation buttons-->
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>