
  // Left right button
  .leftRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      border-radius: 999px;
      border: none;
      left: -30px;
  }

  .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      border-radius: 999px;
      right: -30px;
      border: none;
  }

  