@import "../../../style/variable"; // Import variable scss

// App footer scss
.footerSection {
  background-color: $footerbg;
  padding: 25px 0 20px;
  .footerLogo {
    a {
      font-family: $fontbold;
      color: $white;
      font-size: $font-14;
      text-transform: uppercase;
      img {
        width: 35px;
        margin-right: 10px;
      }
    }
  }
  .social {
    a {
      color: $white;
      margin-left: 15px;
      font-size: $font-14;
    }
  }
}

// Copy right  footer scss
.copyright {
  background-color: $copyrightbg;
  padding: 10px 0;
  p {
    font-family: $fontregular;
    text-align: center;
    color: $white;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-size: $font-13;
    span {
      color: $linkcolor;
      text-transform: uppercase;
    }
  }
}
.siteFooter {
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
}
