<!-- App footer footer -->
<div class="siteFooter">
  <div class="footerSection" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="container">
      <div class="d-flex">
        <div class="footerLogo">
          <a class="navbar-brand" href="/"><img
              src="/assets/images/logo_hubackup.png"><span>{{'app_info.title' | translate}}</span></a>
        </div>

        <!-- Social link footer -->
        <div class="ml-auto social">
          <p><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright footer -->
  <div class="copyright" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <p>&copy; <span>{{'app_info.title' | translate}}</span> {{'copyright' | translate}}</p>
  </div>
</div>