@import '../../../../style/variable'; // Import variables scss

.settingPages{
    margin-top:20px;
    margin-bottom: 60px;
    h4{
        color:$fontcolor;
        margin-bottom: 15px;
    }
    form{
        p{
            margin-bottom: 20px;
            label{
                display:block;
                margin-bottom: 0;
            }
            input{
                width:100%;
                border-radius: 0;
                border: 1px solid #ced4da;
                padding: 7px 10px;
            }
            button{
                float: right;
                border-radius: 0;
            }
        }
    }
}