<div class="row settingPages">
  <div class="col-md-5">
    <h4>Security</h4>
    <form [formGroup]="security">
    <p>
      <label>Login Username</label>
      <input type="email" placeholder="Username" value="" formControlName="email"/>
    </p>
    <p>
      <label>Password</label>
      <input formControlName="password" placeholder="Password" value="" [type]="hide ? 'password' : 'text'"/>
    </p>
    <p>
        <button mat-button>Update</button>
    </p>
    </form>
  </div>
</div>