@import "../../../style/variable";
.dashboardBackup {
  background-color: #fafbfd;
  padding-top: 50px;
  .backupNav {
    .mat-card {
      border-left: 2px solid $linkcolor;
      border-radius: 0;
      padding-top: 8px;
      margin-bottom: 30px;
    }
    .mat-card-header {
      position: relative;
      font-family: $fontregular;
      .mat-card-title {
        font-size: $font-16;
        margin-bottom: 5px;
      }
      .mat-card-subtitle {
        font-size: $font-12;
        margin-bottom: 5px;
        span {
          color: $black;
        }
      }
    }
    .mat-card-header:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #e1e1e1;
      left: -16px;
      right: -16px;
      bottom: 0;
    }
    .mat-card-content {
      padding: 30px 0 15px 45px;
      position: relative;
      .mat-card-title {
        font-family: $fontbold;
        font-size: $font-16;
        margin-bottom: 0px;
      }
      .mat-card-title:before {
        font-family: FontAwesome;
        content: "\f00c";
        position: absolute;
        left: 15px;
        font-weight: 100;
        background-color: $linkcolor;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: $font-14;
        color: $white;
      }
      .mat-card-subtitle {
        font-family: $fontregular;
        font-size: $font-12;
        .date {
          color: $black;
        }
        .time {
          color: $linkcolor;
        }
      }
    }
  }

  // Navigation css
  .list-group {
    background-color: $white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    a {
      font-family: $fontregular;
      color: $black;
      border: none;
      position: relative;
      border-radius: 0;
      i {
        margin-right: 15px;
      }
    }
    a.active {
      color: $linkcolor;
      background-color: transparent;
      box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.5);
    }
    a.active:after {
      position: absolute;
      content: "";
      border-left: 2px solid #177dff;
      width: 1px;
      left: 0;
      height: 85%;
      top: 4px;
      bottom: 0;
    }
    a:hover {
      color: $linkcolor;
      background-color: transparent;
      box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.5);
    }
    a:hover:after {
      position: absolute;
      content: "";
      border-left: 2px solid #177dff;
      width: 1px;
      left: 0;
      height: 85%;
      top: 4px;
      bottom: 0;
    }
  }

  // Sidenav Button css
  .sidenavButton {
    button {
      background-color: $linkcolor;
      color: $white;
      border-radius: 0;
      padding: 5px 30px;
      font-size: $font-16;
      font-family: $fontregular;
      width: 100%;
      text-align: center;
    }
    button:hover {
      text-decoration: none;
    }
    .form-group {
      margin-top: 20px;
      select {
        border-color: $linkcolor;
        font-family: $fontregular;
      }
    }
    margin-top: 30px;
  }
}

.AuthModel {
  .modal-content {
    border-radius: 0;
    border-left: 2px solid $linkcolor;
  }
  .modal-body {
    font-family: $fontregular;
    background-image: url("/assets/images/network.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 3% 34px;
    padding: 25px 30px 50px 60px;
    h6 {
      color: $fontcolor;
      font-family: $fontbold;
      font-size: $font-18;
    }
    p {
      font-size: $font-16;
      color: $fontcolor;
    }
    .AuthButton {
      padding-top: 60px;
      text-align: center;
      a {
        background-color: $linkcolor;
        color: $white;
        border-radius: 0;
        padding: 5px 65px;
        font-size: $font-16;
        font-family: $fontregular;
        text-align: center;
        background-image: url('/assets/images/logo_hubackup.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 5% 50%;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
