<div class="dashboardBackup">
  <div class="container">
    <div class="row">
      <div class="col-md-4 backupNav">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Hubackup Data</mat-card-title>
            <mat-card-subtitle>Data backed up from <span>{{lastdate}} </span></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-title>My Sale Hub Data Backup</mat-card-title>
            <mat-card-subtitle>Backed up on <span class="date">{{lastdate}} at </span><span class="time">{{lasttime}}
                EDT</span></mat-card-subtitle>
          </mat-card-content>
        </mat-card>
        <div class="list-group">
          <a routerLinkActive="active" [routerLink]="['/dashboard/backup']" [queryParams]="{ id: backupId }" class="list-group-item"><i
              class="fa fa-tachometer"></i>
            <span>{{'dashboardMenus.backup' | translate}}</span></a>
          <a routerLinkActive="active" [routerLink]="['/dashboard/backup-history']" [queryParams]="{ id: backupId }" class="list-group-item"><i
              class="fa fa-cloud"></i>
            <span>{{'dashboardMenus.bckupHstry' | translate}}</span></a>
          <a routerLinkActive="active" [routerLink]="['/dashboard/smart-alert']" class="list-group-item"><i
              class="fa fa-bell"></i> <span>{{'dashboardMenus.smrtAlrt' | translate}}</span></a>
          <a routerLinkActive="active" [routerLink]="['/dashboard/notification']" class="list-group-item"><i
              class="fa fa-envelope-o"></i> <span>{{'dashboardMenus.notification' | translate}}</span></a>
        </div>
        <div class="row sidenavButton">
          <div class="col-md-12">
            <button *ngIf="payment" data-toggle="modal" data-target="#myModal"
              mat-button>{{'dashboardMenus.re-authenticate' | translate}}</button>
            <button *ngIf="payment" (click)="backupNow()" class="mt-3" mat-button>Back-up Now</button>
            <button *ngIf="!payment" (click)="upgradeNow()" class="mt-3" mat-button>{{'dashboardMenus.re-authenticate' | translate}}</button>
            <button *ngIf="!payment" (click)="upgradeNow()" class="mt-3" mat-button>Back-up Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="ring" *ngIf="loading">
          Loading
          <span></span>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade AuthModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h6 class="modal-title">Authenticate Your Hubspot Account With Hubackup</h6>
          <p>Connect your HubSpot account with hubackup's service. This enable us to backup your data within to hubspot
            to our cloud.</p>
          <div class="AuthButton"><a
              href="https://app.hubspot.com/oauth/authorize?scope=contacts%20content%20oauth%20forms%20files&redirect_uri=https://app.hubackup.com/dashboard/backup&client_id=889a2161-1aa0-4842-8e05-b7e87cf4a39f"
              target="_blank" mat-button>{{'dashboardMenus.ConnectHubackup' | translate}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- href="https://app.hubspot.com/oauth/authorize?scope=contacts%20content%20oauth%20forms%20files&redirect_uri=https://app.hubackup.com/dashboard/backup&client_id=889a2161-1aa0-4842-8e05-b7e87cf4a39f" -->




