<div class="loginWrapper">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 logincontent">
        <div class="row whitebg">
          <div class="col-md-5 loginBg">
            <a [routerLink]="['/login']">
              <h3 class="loginLogo"><img src="/assets/images/logo_hubackup.png"></h3><!-- Login Form Logo-->
              <h2 class="title">{{'app_info.title' | translate}}</h2>
            </a>
            <ul>
              <li>{{'common.auth_list.list1' | translate}}</li>
              <li>{{'common.auth_list.list2' | translate}}</li>
              <li>{{'common.auth_list.list3' | translate}}</li>
              <li>{{'common.auth_list.list4' | translate}}</li>
            </ul>
          </div>
          <div class="col-md-7 formFields">
            <h3>{{'common.signup' | translate}}</h3>

            <!-- Login Form start -->
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
              <!-- <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select placeholder="Select Package" formControlName="package">
                      <mat-option value="250.00">Start-Up $250 </mat-option>
                      <mat-option value="500.00">Small-Mid Sized Businesses $500</mat-option>
                      <mat-option value="1500.00">Enterprise $1500</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.name' | translate}}" value="" formControlName="firstName">
                      <mat-icon matSuffix>how_to_reg</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.lastname' | translate}}" value=""
                        formControlName="lastName">
                      <mat-icon matSuffix>how_to_reg</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="username">
                    <mat-form-field class="example-full-width">
                      <!-- Email Field -->
                      <input matInput placeholder="{{'common.emailaddress' | translate}}" value=""
                        formControlName="email">
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.Company' | translate}}" value=""
                        formControlName="companyName">
                      <mat-icon matSuffix>business</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.address' | translate}}" value="" formControlName="address">
                      <mat-icon matSuffix>my_location</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.city' | translate}}" value="" formControlName="city">
                      <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.state' | translate}}" value="" formControlName="state">
                      <mat-icon matSuffix>streetview</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="userName">
                    <mat-form-field class="example-full-width">
                      <!-- Name Field -->
                      <input matInput placeholder="{{'common.zipcode' | translate}}" value="" formControlName="zipcode">
                      <mat-icon matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="password">
                <mat-form-field class="example-full-width">
                  <!-- Password Field -->
                  <input formControlName="password" matInput placeholder="{{'common.password' | translate}}" value=""
                    [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <!-- <mat-hint>Password must conatin atleast 1 Capital letter, 1 Number or atlist 8 Characters</mat-hint> -->
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <button mat-button
                    [disabled]="!signupForm.valid || !(checkCapitalletter(signupForm.value.password) >= 1) || !(checkNumbers(signupForm.value.password) >= 1) || !(signupForm.value.password.length >= 8)"
                    type="submit">{{'common.signup' | translate}}</button><!-- Submit button-->
                </div>
                <div class="col-md-8 socialGroup">
                  <!-- Social Media logins-->
                  <p>Hubackup password must be contain At list 1 capital letters, 1 number, 8 characters and cannot be
                    blank</p>
                </div>
                <div class="col-md-12 footerTxt">
                  <p>{{'common.alreadyacc' | translate}} {{'common.account' | translate}}? <a [routerLink]="['/login']">
                      Log In Here</a><span>/</span>
                    {{'common.forgot' | translate}} <a
                      [routerLink]="['/forget-password']">{{'common.password' | translate}}?</a></p>
                </div>
              </div>
            </form>
            <!-- Login Form End -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Login Wrapper End -->