.connectWrapper {
  .mat-card {
    padding: 30px;
  }
  margin-top: 100px;
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      font-size: 14px;
      letter-spacing: 1px;
      label {
        font-weight: 600;
        min-width: 150px;
        display: inline-block;
      }
      img {
        width: 24px;
      }
    }
  }
}

.editModal {
  .modal-title {
    background-color: #e9edef;
  }
  label {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
  }
  input {
    padding: 6px;
    letter-spacing: 1px;
    font-size: 14px;
  }
}

.hubspotLogin{
  width:100%;
  background-color: #428bca !important;
}
.modelFooter{
  border-top:1px solid #ced4da;
}

.leftSection{
  width:50%;
  float:left;
}
.rightSection{
  width:50%;
  float:left;
}
.clear{
  clear:both;
}
// box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
