<div class="ring" *ngIf="loading">
  Loading
  <span></span>
</div>
<div class="connectWrapper" [ngStyle]="{'display': loading === true ? 'none' : 'block' }">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 logincontent">
        <div class="mat-card">
          <div class="mat-card-header">
            <div class="connectHeader" style="width:100%;">
              <div class="leftSection">
                <h4> Hubspot Connection</h4>
              </div>
              <div class="rightSection text-right">
                <button id="modelSHow" data-toggle="modal" data-target="#editModal" class="ml-2 dltBtn" mat-button>
                  <mat-icon>edit</mat-icon>Edit
                </button>
              </div><div class="clear"></div>
            </div>

          </div>
          <div class="mat-card-content pt-3">
            <ul>
              <li><label>Type : </label><img src="/assets/images/connect.png" /> Hubspot</li>
              <li><label>Authentication : </label>OAuth 2.0</li>
              <li><label>Access Token : </label> *******</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="editModal" class="modal fade editModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-0">
        <h6 class="modal-title px-3 py-3"><img style="width:24px;" src="/assets/images/connect.png" /> Edit Connection
        </h6>
        <form [formGroup]="connetForm" (ngSubmit)="saveForm(connetForm)">
          <div class="form-group px-5 pt-4">
            <div class="row mb-2">
              <label class="col-md-4 control-label text-right">Name</label>
              <div class="col-md-8">
                <input formControlName="connectionName" class="form-control" type="text">
              </div>
            </div>
            <div class="row mb-2">
              <label class="col-md-4 control-label text-right">Authentication</label>
              <div class="col-md-8">
                <select class="form-control">
                  <option selected>OAuth 2.0</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label class="col-md-4 control-label text-right">Access Token</label>
              <div class="col-md-8">
                <input formControlName="token" class="form-control" type="password" readonly>
                <input formControlName="refresh" class="form-control" type="hidden" readonly>
              </div>
            </div>
            <div class="row mb-2">
              <label class="col-md-4 control-label text-right"></label>
              <div class="col-md-8">
                <button class="hubspotLogin" (click)="authConnect()" mat-button>Login With Hubspot</button>
              </div>
            </div>
          </div>
          <div class="modelFooter text-right px-5 py-3">
            <button id="closeBtn" class="" data-dismiss="modal" mat-button>Cancel
            </button>
            <button [disabled]="!connetForm.valid" type="submit" class="ml-2 dltBtn" mat-button>
              save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>