<!--The content below is only a placeholder and can be replaced.-->
<app-main-header *ngIf="currentUrl"></app-main-header>
<router-outlet></router-outlet>
<app-main-footer *ngIf="currentUrl"></app-main-footer>