<app-header class="p-0 adminHeader"
  [navbarBrandRouterLink]="['/index']"
  [fixed]="true"
  [navbarBrandFull]="{src: '/assets/images/logo_hubackup.png', width: 40, height: 35, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: '/assets/images/logo_hubackup.png', width: 35, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'none'">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
     
      <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
              dropdownToggle (click)="false">
              <img src="/assets/images/default-user.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
              <span class="mr-1">{{userDetails.email}}</span> <i class="fa fa-angle-down" aria-hidden="true"></i>

          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
              <div class="dropdown-header text-center"><strong>Account</strong></div>
              <!-- <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
                      class="badge badge-info">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span
                      class="badge badge-success">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span
                      class="badge badge-danger">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span
                      class="badge badge-warning">42</span></a> -->
              <!-- <div class="dropdown-header text-center"><strong>Settings</strong></div> -->
              <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
              <!-- <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
              <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span
                      class="badge badge-dark">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span
                      class="badge badge-primary">42</span></a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
              <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
          </div>
      </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

