<!-- Index component -->
<div class="mainBlock">
  <div class="block-header">
    <div class="container">
      <!-- Index component menus -->
      <ul class="headerBar_1">
        <li class="nav-item" [ngClass]="{'active': listType =='all' || listType == ''}"><a href="javascript:void(0)"
            (click)="allBackupsList();">{{'homeMenus.all' | translate}}<span
              class="badge badge-light">{{allBackup}}</span></a></li>
        <li class="nav-item" [ngClass]="{'active': listType =='running'}"><a href="javascript:void(0)"
            (click)="runningBackupsList();">{{'homeMenus.running' | translate}}<span
              class="badge badge-light">{{running}}</span></a>
        </li>
      </ul>
    </div>
  </div>


  <!-- Grid card sections loop-->
  <div class="gridSection">
    <h3 *ngIf="noData" style="position: absolute; width:100%;" class="text-center pt-5">{{noData}}</h3>
    <h3 *ngIf="noData1" style="position: absolute; width:100%;" class="text-center pt-5">{{noData1}}</h3>
    <div class="ring" *ngIf="loading">
      Loading
      <span></span>
    </div>
    <div class="container pt-4" *ngIf="!noData">
      <div class="row"  [ngStyle]="{'display':listType !== 'running' ? 'none' : 'flex' }">
        <div class="col-md-4" *ngIf="progress">
          <mat-card>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <mat-card-header>
              <mat-card-title>Hubackup Data</mat-card-title>
              <mat-card-subtitle>Data backup started on  <span>{{progressData.last_backup_date}} </span></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card-title>Hubackup Data</mat-card-title>
              <mat-card-subtitle>Data backup started on <span class="date">{{progressData.last_backup_date}} at </span><span
                  class="time">{{progressData.last_backup_time}}</span></mat-card-subtitle>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
      <div class="row" [ngStyle]="{'display':listType !== 'all' &&  listType != ''? 'none' : 'flex' }">
        <div class="col-md-4" *ngFor="let backupList of backupdata">
          <a class="backupLink" href="javascript:void(0)" (click)="backupDetails(backupList.id)"><mat-card>
            <mat-card-header>
              <mat-card-title>Hubackup Data</mat-card-title>
              <mat-card-subtitle>Data backed up from <span>{{backupList.date}} at</span><span
                class="time">{{backupList.time}}</span></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card-title>My Sale Hub Data Backu</mat-card-title>
              <mat-card-subtitle>Backed up on <span class="date">{{backupList.date}} at </span><span
                  class="time">{{backupList.time}}</span></mat-card-subtitle>
            </mat-card-content>
          </mat-card></a>
        </div>

        <!-- Load more button -->
        <div class="col-md-12 loadmore" *ngIf="loadMoreBtn">
          <button mat-button (click)="loadMore(indexVal, listType)">{{'homeMenus.loadmore' | translate}}</button>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="hubspopScreen" *ngIf="showAuth">
  <div class="inner-block">
    <mat-card class="pb-5">
      <mat-card-header>
        <mat-card-title>Allow Hubackup to Receive Your Hubspot Account Data</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Allow Hubackup to access Hubspot</mat-card-title>
        <span class="leftImg"><img src="/assets/images/connect.png" /></span>
        <span class="centerimg"><img src="/assets/images/connect.png" /></span>
        <span class="rightImg"><img src="/assets/images/connect.png" /></span>
        <div class="AuthButton">
          <a mat-button href="javascript:void(0)"
            (click)="authLogin()">{{'dashboardMenus.ConnectHubackup' | translate}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>