@import "../../../../style/variable"; // Import variable scss

// Index component scss
.mainBlock {
  background-color: #fafbfd;
  padding-top: 50px;
  .block-header.searchRow {
    background-color: $linkcolor;
    padding: 0;
  }
  .block-header {
    background-color: $white;
    box-shadow: 1px 0px 17px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 1px 0px 17px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 1px 0px 17px 0px rgba(0, 0, 0, 0.51);
    ul.headerBar_1 {
      padding-left: 0px;
      margin-bottom: 0;
      li {
        font-family: $fontregular;
        display: inline-block;
        margin-right: 60px;
        button {
          background-color: transparent !important;
          border: 0;
          cursor: pointer;
          i {
            color: $fontcolor;
          }
        }
        a {
          font-size: $font-14;
          color: $fontcolor;
          .badge-light {
            background-color: $bodybg;
          }
          .badge-error {
            background-color: #fee5e8;
            color: #ff4d6c;
          }
          .badge {
            margin-left: 5px;
            padding: 2px 10px;
            border-radius: 10px;
          }
        }
        a:hover {
          text-decoration: none;
        }
      }
      li.active{
        padding: 10px 0 8px;
        border-bottom: 2px solid #177dff;
          a{
            color: #177dff;
          }
      }
    }
  }

  //Load more button
  .loadmore {
    text-align: center;
    padding-bottom: 40px;
    button {
      background-color: $linkcolor;
      color: $white;
      border-radius: 15px;
      padding: 0 15px;
      font-size: $font-12;
      font-family: $fontregular;
      margin: auto;
    }
  }
}

// backup Grid css
.gridSection {
  .backupLink:hover {
    text-decoration: none;
  }
  .col-md-4 {
    .mat-card {
      border-left: 2px solid $linkcolor;
      border-radius: 0;
      padding-top: 8px;
      margin-bottom: 30px;
    }
    .mat-card-header {
      position: relative;
      font-family: $fontregular;
      .mat-card-title {
        font-size: $font-16;
        margin-bottom: 5px;
      }
      .mat-card-subtitle {
        font-size: $font-12;
        margin-bottom: 5px;
        span {
          color: $black;
        }
      }
    }
    .mat-card-header:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid $bodybg;
      left: -16px;
      right: -16px;
      bottom: 0;
    }
    .mat-card-content {
      padding: 30px 0 15px 45px;
      position: relative;
      .mat-card-title {
        font-family: $fontbold;
        font-size: $font-16;
        margin-bottom: 0px;
      }
      .mat-card-title:before {
        font-family: FontAwesome;
        content: "\f00c";
        position: absolute;
        left: 15px;
        font-weight: 100;
        background-color: $linkcolor;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: $font-14;
        color: $white;
      }
      .mat-card-subtitle {
        font-family: $fontregular;
        font-size: $font-12;
        .date {
          color: $black;
        }
        .time {
          color: $linkcolor;
        }
      }
    }
  }
}

.hubspopScreen {
  .mat-card {
    .mat-card-content {
      .mat-card-title {
        margin-bottom: 40px;
        color: #6b6b6b;
        letter-spacing: 1px;
        font-size: 18px;
        font-family: $fontregular;
      }
    }
    .mat-card-header {
      box-shadow: 0px 4px 9px -8px #000;
      padding: 6px 0px;
      margin-bottom: 40px;
    }
    text-align: center;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    .mat-card-header-text {
      .mat-card-title {
        color: #f64155;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: $fontregular;
      }
    }
  }
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.4);
  .AuthButton {
    margin-top: 60px;
    a {
      background-color: #f64155;
      color: #fff;
      letter-spacing: 1px;
    }
    a:hover {
      text-decoration: none;
      background-color: #f64155;
      color: #fff;
    }
  }
  .leftImg,
  .rightImg,
  .centerimg {
    margin: 0 20px;
  }
  .leftImg,
  .rightImg {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 30px;
    text-align: center;
    line-height: 60px;
  }
  .leftImg img,
  .rightImg img {
    vertical-align: unset;
    width: 100%;
  }
  .centerimg img {
    width: 30px;
    vertical-align: unset;
  }
}
