<!-- Smart alert component -->
<div class="ring" *ngIf="loading">
  Loading
  <span></span>
</div>
<div class="row smart-alert" *ngIf="!loading">

  <!-- Table fillters-->
  <div class="col-md-12 alertTable">
    <h3>When should we alert you?</h3>
    <form [formGroup]="smartForm" (ngSubmit)="onSubmit(smartForm)">
      <div class="row row_1">
        <div class="col-lg-9 col-md-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 firstBlock">
              <label>Alert when</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group">
                <select class="form-control" formControlName="operator">
                  <option value="" selected>Select Operator</option>
                  <option value="More than">More than</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group pl-2">
                <select class="form-control" formControlName="amount">
                  <option value="" selected>Select amount</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12"></div>
      </div>



      <div class="row row_2">
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
              <label>On</label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9">
              <div class="form-group">
                <select class="form-control" formControlName="s_object">
                  <option value="" selected>Select Object</option>
                  <option *ngFor="let data of smartObject" [value]="data.object">{{data.object}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 saveSection">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 first">
              <label>Have Been</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="form-group">
                <select class="form-control" formControlName="action">
                  <option value="" selected>Select Action</option>
                  <option value="Removed">Removed</option>
                  <option value="Added">Added</option>
                  <!-- <option class="Changed">Changed</option> -->
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 last">
              <button [disabled]="!smartForm.valid && !payment" mat-button>Add Alert</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- Smart alert tabs-->
  <div class="alertTabs col-md-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#alert">Alert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#history">History</a>
      </li>
    </ul>

    <!-- Tab panels -->
    <div class="tab-content">
      <!-- Alert panel-->
      <div id="alert" class="container tab-pane active"><br>
        <h5 class="text-center pt-3" *ngIf="!dataSource">No Notifications</h5>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="sobject">
            <th mat-header-cell *matHeaderCellDef> Object </th>
            <td mat-cell *matCellDef="let element"> {{element.s_object}} </td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- operator Column -->
          <ng-container matColumnDef="operator">
            <th mat-header-cell *matHeaderCellDef> Operator </th>
            <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
          </ng-container>

          <!-- amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete </th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="!payment" (click)="deleteSmartalert(element.id)" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- History pannel-->
      <div id="history" class="container tab-pane fade"><br>
        <table mat-table [dataSource]="historySource" class="mat-elevation-z8">

          <ng-container matColumnDef="sobject">
            <th mat-header-cell *matHeaderCellDef> Object </th>
            <td mat-cell *matCellDef="let element"> {{element.s_object}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="operator">
            <th mat-header-cell *matHeaderCellDef> Operator </th>
            <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete </th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="!payment" (click)="deletehistory(element.id)" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>