@import "../../../../style/variable"; //Import variable scss

// Smart alert scss
.smart-alert {
  margin-bottom: 50px;
  .alertBox {
    padding: 10px 40px 10px 10px;
    background-color: #b0c0c9;
    font-family: $fontregular;
    font-size: 14px;
    position: relative;
    margin-bottom: 40px;
    span {
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
    }
  }

  // Smart alert table filter scss
  .alertTable {
    h3 {
      font-size: $font-24;
      margin-bottom: 20px;
    }
    .row_1 {
      font-family: $fontregular;
      color: $fontcolor;
      label {
        position: relative;
        top: 5px;
        font-size: $font-15;
      }
      .col-lg-2 {
        padding: 0;
        padding-left: 10px;
      }
      .col-lg-3.firstBlock {
        padding-left: 15px;
      }
      .col-lg-4.lastBlock {
        padding-right: 15px;
        padding-left: 10px;
      }
      .col-lg-3 {
        padding: 0;
      }
      .col-lg-4 {
        padding: 0;
      }
      select {
        font-size: $font-15;
        border-radius: 0;
      }
      input {
        font-size: $font-15;
        border-radius: 0;
      }
    }

    .row_2 {
      font-family: $fontregular;
      color: $fontcolor;
      label {
        font-size: $font-15;
        position: relative;
        top: 5px;
      }
      select {
        font-size: $font-15;
        border-radius: 0;
      }
      .saveSection {
        label {
          font-size: $font-15;
        }
        select {
          font-size: $font-15;
          border-radius: 0;
        }
        button {
          font-size: $font-14;
          background-color: $linkcolor;
          color: $white;
          border-radius: 0;
          padding: 0px 10px !important;
          border-radius: 0;
          width: auto;
        }
        .col-lg-3.first {
          padding: 0;
        }
        .col-lg-4.last {
          padding: 0;
          padding-left: 10px;
        }
        .col-lg-5 {
          padding: 0;
        }
      }
    }
  }

  .alertTabs {
    width: 100%;
    margin-top: 50px;
    .nav-tabs {
      border-bottom: 1px solid $linkcolor;
      li {
        a {
          color: $fontcolor;
        }
        a.active {
          border-color: $linkcolor $linkcolor $white;
          color: $linkcolor;
        }
        a:hover {
          border-color: $linkcolor;
          color: $linkcolor;
        }
      }
    }
    table {
      width: 100%;
      margin-top: 0px;
      box-shadow: none;
      background-color: transparent;
      tr {
        height: 38px;
        th {
          border: none;
          color: $linkcolor;
        }
        td {
          border: none;
          .mat-button {
            background-color: transparent !important;
            min-width: auto;
            padding: 0;
            line-height: 1;
            color: #495057 !important;
          }
          .mat-icon {
            font-size: $font-18;
            color: $lightgray;
          }
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: #f0eef0;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .smart-alert {
    .alertTable {
      .row_1 {
        .col-lg-2 {
          padding: 0 15px;
          padding-left: 15px;
        }
        .col-lg-3.firstBlock {
          padding-left: 15px;
        }
        .col-lg-4.lastBlock {
          padding-right: 15px;
          padding-left: 15px;
        }
        .col-lg-3 {
          padding: 0 15px;
        }
        .col-lg-4 {
          padding: 0 15px;
        }
      }
      .row_2 {
        .saveSection {
          .col-lg-3.first {
            padding: 0 15px;
          }
          .col-lg-4.last {
            padding: 0 15px;
            padding-left: 15px;
          }
          .col-lg-5 {
            padding: 0 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .alertTabs {
    .tab-content {
      .container {
        overflow: scroll;
        table {
          width: 600px;
        }
      }
    }
  }
}
