@import '../../../../style/variable'; // Import variable scss

// Backup History scss
.backupHistory{
    .previousBtn{
        button{
            background-color: $white !important;
            color: $fontcolor !important;
            border-radius: 0;
            border: 2px solid $fontcolor;
            padding: 0px 20px;
            font-size: $font-16;
            i{
                margin-right: 20px;
                margin-top: -3px;
                color:$fontcolor;
            }
        }
        h1{
            font-size: $font-22;
            margin-top:25px;
            margin-bottom: 2px;
            i{
                font-size: $font-16;
                margin-left: 10px;
            }
        }

        ul{
            padding-left:0;
            li{
                font-size: $font-16;
                display: inline-block;
                margin-right: 20px;
                b{
                    margin-right: 2px;
                }
            }
        }
    }

    // History table scss


    .historyFillter{
        margin-top: 20px;
        .leftfilter{
            float:left;
            width:37%;
        }
        .rightfilter{
            float:right;
            width:60%;
        }
        .searchFilter{
            float: left;
            border:1px solid $fontcolor;
            width:45%;
            position: relative;
            input{
                width:100%;
                border:none;
                position: relative;
                padding: 7px 0 7px 30px;
                font-size: $font-12;
            }
        }
        .searchFilter:before{
            font-family: FontAwesome;
            content: "\f002";
            position: absolute;
            left: 5px;
            z-index: 99;
            top:2px;
            color: $fontcolor;
        }
        .sObject{
            float: left;
            padding: 4px 0px 5px;
            width:55%;
            font-size: $font-13;
            border-top:1px solid $fontcolor;
            border-right:1px solid $fontcolor;
            border-bottom:1px solid $fontcolor;
            background-color: $tableTr;
            font-size: $font-12;
            input{
                margin-right: 5px;
                position: relative;
                top: 4px;
                left: 3px;
            }
        }
        .objectCompare{
            border:1px solid $fontcolor;
            width:40%;
            float: left;
            button{
                i{
                    margin-right: 5px;
                }
                width:100%;
                padding: 0;
                font-size: $font-12 !important;
                font-weight: normal;
                line-height: 32px;
                background-color: transparent !important;
                color: $fontcolor !important;
            }
        }
        .exportbackup{
            width:28%;
            float: left;
            margin: 0 7px;
            border:1px solid $fontcolor;
            select{
                width:100%;
                height: auto;
                line-height: 1;
                padding: 7px 0 7px;
                font-size: $font-12;
                border-radius: 0;
            }
        }
        .backupfrom{
            border:1px solid $fontcolor;
            width:28%;
            float: left;
            select{
                width:100%;
                height: auto;
                line-height: 1;
                padding: 7px 0 7px;
                font-size: $font-12;
                border-radius: 0;
            }
        }
    }
    .historyTable{
        table{
            width:100%;
            margin-top: 0px;
            box-shadow: none;
            background-color: transparent;
            tr{
                height:38px;
                th{
                    border: none;
                    color:$linkcolor;
                }
                td{
                    border:none;
                    .mat-icon{
                        font-size: $font-18;
                        color:$lightgray;
                    }
                }
            }
            tbody {
                tr:nth-child(odd){
                    background-color: #F0EEF0;
                }
            }
        }
    }
}
.clear{
    clear:both;
}
@media only screen and (max-width: 1200px) {
    .backupHistory .historyFillter .leftfilter{
        width: 100%;
        margin-bottom: 10px;
    }
    .backupHistory .historyFillter .rightfilter{
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .backupHistory{
        .historyTable{
            overflow: scroll;
            table{
                width:800px;
                margin-bottom:30px;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .backupHistory .historyFillter .rightfilter{
        div{
            width:100%;
        }
        div.exportbackup{
            margin:10px 0;
        }
    }
}