<!-- History table component-->
<div class="ring" *ngIf="loading">
  Loading
  <span></span>
</div>
<div class="backupHistory" [style.display]="!loading ? 'block' : 'none'">
  <div class="row mb-4">
    <div class="col-md-12 previousBtn">
      <button mat-button [routerLink]="['/dashboard/backup']"><i class="fa fa-angle-left"></i>Previous</button>
      <h1 *ngIf="history">Backup From {{history.backup_date}} : {{history.backup_time}}</h1>
      <ul>
        <li *ngIf="history"><b>Records:</b> {{history.no_of_records}}</li>
        <li><b>Size:</b> 107 MP</li>
      </ul>
    </div>
  </div>


  <!-- History Table -->
  <div class="row historyTable">
    <div class="col-md-12">
      <h4 *ngIf="statustitle">{{statustitle}} </h4>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="object_name">
          <th mat-header-cell *matHeaderCellDef> Object </th>
          <td mat-cell *matCellDef="let element"> {{element.object_name}} </td>
        </ng-container>


        <ng-container matColumnDef="num_of_records">
          <th mat-header-cell *matHeaderCellDef> Records </th>
          <td mat-cell *matCellDef="let element"> {{element.num_of_records}} </td>
        </ng-container>


        <ng-container matColumnDef="object_size">
          <th mat-header-cell *matHeaderCellDef> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.object_size}} </td>
        </ng-container>


        <ng-container matColumnDef="removed_records">
          <th mat-header-cell *matHeaderCellDef> Deleted </th>
          <td mat-cell *matCellDef="let element"> {{element.removed_records}} </td>
        </ng-container>

        <ng-container matColumnDef="added_records">
          <th mat-header-cell *matHeaderCellDef> Added </th>
          <td mat-cell *matCellDef="let element"> {{element.added_records}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="col-md-12 text-right pt-4">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

