@import "../../../style/variable";

// Header css
.headernav {
  background-color: $linkcolor;
  padding: 0;
  color: $white;
  .navbar-brand {
    padding-right: 25px;
    img {
      width: 40px;
    }
    span {
      text-align: center;
      font-family: $fontbold;
      font-size: $font-14;
      color: #fff;
      padding-left: 6px;
      top: -2px;
      position: relative;
      text-transform: uppercase;
    }
  }
  .headermenus {
    li {
      a:hover {
        background-color: $hovercolor;
      }
      a.active {
        background-color: $hovercolor;
      }
    }
  }
  .navbar-nav {
    li {
      font-family: $fontregular;
      font-size: $font-14;
      position: relative;
      a {
        color: $white;
        padding: 12px 20px;
        cursor: pointer;
      }
      .submenus {
        display: none;
        padding-left: 0;
        list-style-type: none;
        position: absolute;
        background-color: #177dff;
        left: 0;
        right: 0;
        min-height: 60px;
        width: 200px;
        li {
          font-family: $fontregular;
          font-size: $font-14;
          a {
            color: #fff;
            padding: 12px 20px;
            cursor: pointer;
            display: inline-block;
            width: 100%;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
    li:hover {
      ul.submenus {
        display: block;
      }
    }
  }
  .userBar {
    .notiCount {
      line-height: 2.2;
      padding-right: 10px;
      a {
        i {
          color: #fff;
        }
        span {
          background-color: red;
          border-radius: 50%;
          font-size: 12px;
          height: 14px;
          width: 14px;
          line-height: 16px;
          display: inline-block;
          text-align: center;
          position: relative;
          top: -6px;
          left: -6px;
        }
      }
      .dropdown-toggle::after {
        display: none;
      }
      a:hover {
        text-decoration: none;
      }
      .dropdown-menu {
        max-height: 370px;
        overflow-y: auto;
        min-width: 13rem;
        a {
          padding: 5px 3px 2px 8px;
          line-height: 1.3;
          font-size: 13px;
        }
      }
    }
    li {
      padding: 0;
      img {
        width: 35px;
        padding-right: 5px;
      }
      .dropdown-menu {
        background-color: $linkcolor;
      }
      .dropdown-menu a:hover {
        color: $black;
      }
    }
    li > a {
      padding: 0;
    }
    li:first-child {
      position: relative;
      top: 4px;
    }
  }
}
.upgrade {
  position: absolute;
  top: 45px;
  background-color: #96a4b9;
  left: 0;
  right: 0;
  p {
    color: #fff;
    margin-bottom: 0;
    padding: 13px 0;
    a {
      border: 1px solid #0056b3;
      padding: 5px 10px 4px;
      margin-left: 10px;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
.settingPages{
  button.mat-button{
    border: none;
    padding: 5px 20px;
    cursor: pointer;
  }
  p{
    min-height: 100px;
  }
}

@media only screen and (max-width: 990px) {
  .headernav .userBar li > a {
    padding: 12px 20px;
  }
}

@media only screen and (max-width: 574px) {
  .headernav {
    padding: 0 10px;
  }
}
