<nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar headernav"
  *ngIf="isLoggedIn$ | async as isLoggedIn">
  <!--Header start -->
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/index']"><img
        src="/assets/images/logo_hubackup.png" /><span>{{'app_info.title' | translate}}</span></a>
    <!--Header Logo-->

    <!-- Responsive menu button -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>

    <!-- Navigation Bar srart-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto headermenus">
        <!-- Main header menus -->
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" [routerLink]="['/index']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a id="backUpnow" routerLinkActive="active" data-toggle="modal" data-target="#backupModal" class="nav-link">Backup</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" [routerLink]="['/find']">{{'navbar_main.find' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link"
            [routerLink]="['/restore']">{{'navbar_main.restore' | translate}}</a>
        </li>
        <li class="nav-item" [hidden]="!payment">
          <a routerLinkActive="active" class="nav-link"
            [routerLink]="['/auth/connect']">Connection</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link"
            [routerLink]="['/admin']">Admin</a>
        </li>
      </ul><!-- Main Header Menus Ends -->

      <ul class="navbar-nav userBar">
        <!-- User Menus Start -->
        <li class="nav-item mr-3">
          <a class="nav-link" href="javascript:void(0)">
            {{'navbar_main.helpSupport' | translate}}
          </a>
        </li>
        <li class="notiCount dropdown">
          <a class="dropdown-toggle" href="#" id="notificationsList" data-toggle="dropdown"
            style="width:30px; display:inline-block;">
            <i class="fa fa-bell"></i><span *ngIf="notification">{{notification}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="notificationsList">
            <a *ngIf="!notification" class="dropdown-item" [routerLink]="['/dashboard/notification']">
              No notification</a>
            <a class="dropdown-item" [routerLink]="['/dashboard/notification']"
              [queryParams]="{ id: list.backup_progress_id }" *ngFor="let list of notiList">
              {{list.status}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownResources" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="/assets/images/default-user.png">
            {{userEmail}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownResources">
            <a class="dropdown-item" [routerLink]="['/setting']">
              Setting</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
            <a class="dropdown-item" (click)="switchLanguage('en')">En</a>
            <a class="dropdown-item" (click)="switchLanguage('pt')">Pt</a>
          </div>
        </li>
      </ul> <!-- User Menus End -->
    </div> <!-- Navigation Bar End-->
  </div>
  <!-- *ngIf="!payment" -->
  <div class="upgrade" [hidden]="payment">
    <div class="container">
      <p>You are using trial version. Get your subscription for premium version<a href="javascript:void(0)" data-toggle="modal"
          data-target="#paymentModal">Get start</a></p>
    </div>
  </div>
</nav>
<!--Header start -->


<div class="ring" *ngIf="loading">
  Loading
  <span></span>
</div>


<div id="backupModal" class="modal fade AuthModel" role="dialog" *ngIf="payment">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-5">
        <h6 class="modal-title pb-3">Back-Up your Hubspot account now</h6>
        <p>Backup your HubSpot account with hubackup's service. This is backup your data within to hubspot to our cloud.
        </p>
        <div class="AuthButton text-center">
          <a id="clsBtn" class="btn-danger btn mx-2" href="javascript:void(0)" data-dismiss="modal" mat-button>No</a>
          <a class="btn-primary btn" href="javascript:void(0)" (click)="backupNow()" mat-button>Yes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="backupModal" class="modal fade AuthModel" role="dialog" *ngIf="!payment">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-5">
        <h6 class="modal-title pb-3">You need to upGrade to Backup HubSpot</h6>
        <p>Complete your payment process for Backup your HubSpot account with hubackup's service. This is backup your
          data within to hubspot to our cloud.
          click yes to confirm</p>
          <div class="AuthButton text-center">
            <a class="btn-primary btn" href="javascript:void(0)" data-toggle="modal" data-target="#paymentModal"  (click)="closeModal()" mat-button>Yes</a>
            <a id="clsmodal" style="display:none;" href="javascript:void(0)" data-dismiss="modal" mat-button></a>
          </div>
      </div>
    </div>
  </div>
</div>


<div id="paymentModal" class="modal fade AuthModel" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-4">
        <h3 class="modal-title pb-3 text-center">Hubackup Subscription</h3>
        <div class="row settingPages py-5">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 text-center">
                <h6>Start-Up </h6>
                <h3>$250 </h3>
                <p>Free of 50% design or coding experience necessary. It's so easy, you can start sending today.</p>
                <button class="mat-button" data-dismiss="modal" (click)="buynnoy(price)">Get Now</button>
              </div>
              <div class="col-md-4 text-center">
                <h6>Small-Mid Sized Businesses </h6>
                <h3>$500 </h3>
                <p>Advanced testing tools, and accessed to our helpful support team any time you need it.</p>
                <button class="mat-button" data-dismiss="modal" (click)="buynnoy(price1)">Get Now</button>
              </div>
              <div class="col-md-4 text-center">
                <h6>Enterprise </h6>
                <h3>$1500 </h3>
                <p>Features for high-volume multivariate testing, comparative reports, and much more.</p>
                <button class="mat-button" data-dismiss="modal">Contact sales</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>