//Add font family 

@font-face{
    font-family: MyriadPro-Regular;
    src: url('/assets/fonts/MyriadPro-Regular.otf');
}
@font-face{
    font-family: MyriadPro-Bold;
    src: url('/assets/fonts/MyriadPro-Bold.otf');
}


// Fonts Family
$fontregular : MyriadPro-Regular;
$fontbold : MyriadPro-Bold;


// Fonts Size
$font-10 : 10px;
$font-12 : 12px;
$font-13 : 13px;
$font-14 : 14px;
$font-15 : 15px;
$font-16 : 16px;
$font-18 : 18px;
$font-20 : 20px;
$font-22 : 22px;
$font-24 : 24px;
$font-26 : 26px;
$font-28 : 28px;
$font-30 : 30px;
$font-32 : 32px;
$font-34 : 34px;
$font-36 : 36px;
$font-45 : 45px;
$font-60 : 60px;


// Fonts Colors
$fontcolor : #495057;
$graybg : #434750;
$lightgray : #6F6F6F;
$white : #fff;
$black : #000;
$iconcolor: #CCCCCC;
$red :#FF1761 ;
$green : #1BC564;

//Background color
$bgvalidator :#f6f6f6 ;
$tableTr: #F0EEF0;
$bodybg :#E1E1E1 ;

// Links Buttons
$linkcolor: #177DFF;
$hovercolor : #1E81FE;

//Footer 
$footerbg : #292929;
$copyrightbg : #252726;