@import "../../../../style/variable"; // Import variable scss
.notification {
  margin-bottom: 40px;
  h2 {
    font-size: $font-22;
    margin-top: 25px;
    margin-bottom: 2px;
  }
  .buttongroups {
    margin-top: 20px;
    .notify {
      button {
        background-color: transparent !important;
        color: $fontcolor !important;
        border-radius: 0;
        font-size: $font-16;
        border: 1px solid $linkcolor;
        .mat-icon {
          padding-left: 10px;
        }
      }
      button.dltBtn {
        background-color: #f78d8d !important;
        color: #fff !important;
        border: none;
        .mat-icon {
          color: #fff;
        }
      }
    }
  }
}

// Request table scss
.notificationTable {
  table {
    width: 100%;
    margin-top: 30px;
    box-shadow: none;
    th {
      color: $fontcolor;
      width: 20%;
    }
    th.mat-column-id {
      // min-width: 150px;
      text-indent: 20px;
    }
    td.mat-column-id {
      text-indent: 20px;
    }
    td {
      .mat-icon.active {
        color: red;
      }
      button {
        background-color: transparent !important;
        min-width: auto;
        padding: 0;
        line-height: 1;
        color: $fontcolor !important;
        .mat-icon {
          font-size: $font-16;
        }
      }
      button:hover {
        background-color: transparent !important;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .notificationTable {
    overflow: scroll;
    table {
      min-width: 700px;
      margin-bottom: 40px;
      th.mat-column-id {
        min-width: 90px;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .notification .buttongroups .notify {
    margin-bottom: 20px;
  }
  .notification {
    margin-bottom: 0px;
  }
}
