<!-- Subject request component -->
<div class="ring" *ngIf="loading">
  Loading
  <span></span>
</div>
<div class="row notification" [style.display]="!loading ? 'block' : 'none'">
  <div class="col-md-12">
    <h2>Notification</h2>
  </div>
  <!-- Buttons group -->
  <div class="col-md-12 buttongroups">
    <div class="row">
      <div class="col-md-6 notify">
        <!-- <button mat-button>Add New Notification<mat-icon>add</mat-icon></button> -->
        <button [disabled] = "!payment" (click)="deleteAll()" class="ml-2 dltBtn" mat-button>Delete All<mat-icon>delete</mat-icon></button>
      </div>
      <div class="col-md-6 text-right">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div class="row notificationTable mb-5" *ngIf="!loading">
  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="select" *ngIf="!hideCheckbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="select" *ngIf="hideCheckbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="viewRow($event, element.id); ">
            <mat-icon [ngClass]="{'active' : element.is_read=='0'}">visibility</mat-icon>
          </button>
          <button id="viewBtn" style="visibility: hidden; opacity: 0;" mat-button data-toggle="modal" data-target="#myModal1">
            <mat-icon>visibility</mat-icon>
          </button>
          <button [disabled] = "!payment" (click)="deleteRow(element.id)" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h5 class="text-center pt-3" *ngIf="!dataSource">No Notifications</h5>
  </div>
</div>



<div id="myModal1" class="modal fade AuthModel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" *ngIf="viewData">
        <h5 class="modal-title pb-4">{{viewData.status}}</h5>
        <p><b>Type : </b>{{viewData.type}}</p>
        <p><b>Created At : </b>{{viewData.created_at}}</p>
        <p><b>Updated At : </b>{{viewData.updated_at}}</p>
      </div>
    </div>

  </div>
</div>