@import '../../../style/variable'; // Import variables scss
.accountSetting{
    padding-top:70px;
    h4{
        margin-bottom: 20px;
    }
    .settingTabs{
        .nav-tabs{
            border-bottom: 1px solid $linkcolor;
            li{
                a{
                    color:$fontcolor;
                }
                a.active{
                    border-color: $linkcolor $linkcolor $white;
                    color:$linkcolor;
                }
                a:hover{
                    border-color: $linkcolor;
                    color:$linkcolor;
                }
            }
        }
    }
}

.subscriptions{
    list-style-type: none;
    padding-left: 0;
    li{
        padding: 5px;
        a{
            padding-left: 10px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .settingBlock{
        max-width: 95%;
    }
    .accountSetting .settingTabs .nav-tabs li a {
        font-size: 14px;
        padding: 5px 10px;
    }
}