<div class="container settingBlock">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-10 col-md-12 accountSetting">
      <h4>Account setting</h4>
      <!-- Setting tabs-->
      <div class="settingTabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#overview">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#security">Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subscriptions">Subscription</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content" style="border: inherit; margin-top: 0;">

          <!-- security pannel-->
          <div id="security" class="container tab-pane fade"><br>
            <app-security></app-security>
          </div>

          <!-- overview pannel-->
          <div id="overview" class="container tab-pane active"><br>
            <app-overview></app-overview>
          </div>

          <div id="subscriptions" class="container tab-pane"><br>
            <div class="row settingPages py-5">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <h5>Start-Up </h5>
                    <h2>$250 </h2>
                    <p>Free of 50% design or coding experience necessary. It's so easy, you can start sending today.</p>
                    <button class="mat-button">Get Now</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <h5>Small-Mid Sized Businesses </h5>
                    <h2>$500 </h2>
                    <p>Advanced testing tools, and accessed to our helpful support team any time you need it.</p>
                    <button class="mat-button">Get Now</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <h5>Enterprise </h5>
                    <h2>$1500 </h2>
                    <p>Features for high-volume multivariate testing, comparative reports, and much more.</p>
                    <button class="mat-button">Get Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>