// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hubackup-primary: mat-palette($mat-indigo);
$hubackup-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hubackup-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hubackup-theme: mat-light-theme($hubackup-primary, $hubackup-accent, $hubackup-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hubackup-theme);

/* You can add global styles to this file, and also import other style files */
@import "style/_variable.scss";
@import "~@coreui/coreui/scss/coreui";
html {
  position: relative;
}
html,
body {
  min-height: 100%;
}

body {
  background-color: $bodybg;
  font-family: $fontregular;
  //   height: auto;
  overflow: auto;
  //   position: relative;
}
.hubspopScreen {
  .mat-card-header-text {
    margin: auto;
    .mat-card-title {
      color: #f64155;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

//Resposive menu button

body h3,
body h1,
body h2,
body h4,
body h5,
body h6 {
  color: $fontcolor;
  font-family: $fontbold;
}

body p {
  color: $fontcolor;
  font-family: $fontregular;
}

body {
  button {
    font-family: $fontregular !important;
    background-color: $linkcolor !important;
    color: $white !important;
  }
  ul li {
    font-family: $fontregular;
  }
}

.navbar .navbar-toggler {
  color: $white !important;
  border: none !important;
}

// Forget password Component css
.frgtPwdWrapper {
  .formcontent {
    .mat-form-field {
      .mat-form-field-subscript-wrapper {
        margin-top: 20px;
      }
    }
  }
}

//Tile slider css
#tilesSlider {
  .item {
    position: relative;
    .tile {
      box-shadow: none;
      text-align: center;
      .buckupTile {
        position: relative;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 10px 10px 10px 25px;
        font-family: $fontregular;
        font-size: $font-14;
      }
      .buckupTile.buckupTile2 {
        margin-bottom: 0;
      }
      .buckupTile:before {
        font-family: FontAwesome;
        content: "\f00c";
        position: absolute;
        left: 15px;
        font-weight: 100;
        background-color: $linkcolor;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: $font-14;
        color: $white;
        opacity: 0.5;
      }
      .buckupTile:after {
        content: "";
        position: absolute;
        left: 0;
        opacity: 0.5;
        border-left: 2px solid $linkcolor;
        top: 0;
        height: 50%;
      }
      .buckupTile:hover:after {
        opacity: 1;
      }
      .buckupTile:hover:before {
        opacity: 1;
      }
      .buckupTile:hover {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

// History Table
.historyTable {
  table {
    tbody {
      tr:nth-child(odd) {
        background-color: $tableTr;
      }
    }
  }
}

// Smart alert Table
.smart-alert {
  table {
    tbody {
      tr:nth-child(odd) {
        background-color: $tableTr;
      }
    }
  }
}

// Find Table
.searchtables {
  table {
    tbody {
      tr:nth-child(odd) {
        background-color: $tableTr;
      }
    }
  }
}

// master encrptions Table
.settingPages {
  table {
    tbody {
      tr:nth-child(odd) {
        background-color: $tableTr;
      }
    }
  }
}

.searchtables {
  .mat-expansion-panel {
    margin-bottom: 0 !important;
  }
  .mat-expansion-panel-header:hover {
    background-color: #e7f1fd !important;
  }
  .mat-expansion-panel-header {
    background-color: #e7f1fd !important;
    .mat-expansion-indicator {
      display: none;
    }
    .mat-content {
      color: red;
      mat-panel-title {
        margin-right: 0;
        .mat-icon {
          position: relative;
          color: $linkcolor;
        }
        .d-flex {
          width: 100%;
          p {
            margin-bottom: 0;
            input {
              position: relative;
              top: 3px;
              margin: 0 15px;
            }
            label {
              font-family: $fontregular;
              font-weight: 600;
              font-size: 14px;
            }
          }
          .ml-auto {
            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .mat-expansion-panel-body {
    padding-top: 10px;
    p {
      margin-bottom: 0;
      padding-left: 30px;
      input {
        position: relative;
        top: 3px;
        margin-right: 15px;
      }
      label {
        font-family: $fontregular;
        font-size: 14px;
      }
      i {
        float: right;
      }
    }
  }
}

//notification
.notification {
  .mat-paginator {
    background-color: transparent;
    .mat-paginator-range-actions {
      .mat-paginator-range-label {
        display: none;
      }
      button {
        margin-left: 5px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        .mat-paginator-icon {
          width: 20px;
        }
      }
    }
  }
}
.historyTable {
  .mat-paginator {
    background-color: transparent;
    .mat-paginator-range-actions {
      .mat-paginator-range-label {
        display: none;
      }
      button {
        margin-left: 5px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        .mat-paginator-icon {
          width: 20px;
        }
      }
    }
  }
}

body {
  .mat-card .mat-progress-bar {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
  .mat-card .mat-progress-bar-fill::after {
    background-color: #177dff;
  }
}

.ring {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 12px;
  color: #177dff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #177dff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #177dff;
  border-right: 3px solid #177dff;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #177dff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #177dff;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

app-header.adminHeader {
  .navbar-toggler {
    background-color: #fff !important;
  }
}

app-header.adminHeader .navbar-nav.ml-auto ~ .navbar-toggler {
  display: none;
}
app-header.adminHeader .navbar-nav.ml-auto {
  margin-right: 30px;
}

.userPagi {
  .mat-paginator {
    button {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin: 0 2px;
    }
  }
}

.animated {
  .block_table {
    .mat-table {
      td {
        button {
          min-height: auto;
          min-width: auto;
          padding: 5px 15px;
          line-height: 1;
          .mat-icon {
            font-size: 16px;
            height: auto;
            width: auto;
          }
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
