@import '../../../../style/variable'; //Import variable scss

// Top section css
.topSection{
    border-bottom: 1px solid $iconcolor;
    padding-bottom: 30px;
    .bckupdata{
        font-family: $fontregular;
        font-size: $font-14;
        margin: 15px 0 25px;
        span{
           color: $linkcolor ;
        }
        i{
            font-size: $font-18;
            margin-right: 15px;
        }
    }
    .latestBclup{
        font-family: $fontbold;
        font-size: $font-16;
        margin-bottom: 25px;
        span{
            font-family: $fontregular;
            font-size: $font-14;
        }
        i{
            font-weight: 100;
            background-color: $linkcolor;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            font-size: $font-16;
            margin-right: 15px;
            color: $white;
        }
    }
    button{
        background-color: $linkcolor;
        color: $white;
        border-radius: 0;
        padding: 0px 30px;
        font-size: $font-16;
        font-family: $fontregular;
    }
}

.tileSliderBlock{
    padding-left: 30px;
    border-bottom: 1px solid $iconcolor;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.recentBackups{
    font-family: $fontbold;
    font-size: $font-20;
    text-align: center;
    color: $black;
    margin: 15px 0 20px;
}
.backupChart{
    padding-bottom: 40px;
}