<!-- Right section of sidebar-->
<!-- *ngIf="loading" -->
<div class="ring" *ngIf="loading">
    Loading
    <span></span>
</div>
<div *ngIf="!loading">
    <div class="row topSection">
        <div class="col-md-12">
            <h3 class="bckupdata"><i class="fa fa-calendar" aria-hidden="true"></i>
                {{lastRecords.last_backup_date}} at <span>{{lastRecords.last_backup_time}} EDT</span></h3>
            <h3 class="latestBclup"><i class="fa fa-check" aria-hidden="true"></i>
                {{'backup_component.lastBackup' | translate}} {{lastRecords.last_status}} <span>300 MB in
                    {{lastRecords.last_no_of_records}} records </span>
            </h3>
        </div>
    </div>

    <!-- Tile slider component -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="recentBackups">{{'backup_component.recentBackup' | translate}}</h3>
            <div class="tileSliderBlock">
                <!-- Titles component-->
                <app-recent-backup></app-recent-backup>
            </div>
        </div>
    </div>

    <!-- Backup statstics chart -->
    <div class="backupChart">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
            style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </div>
</div>